.callControlPane {
    position: absolute;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    display: block;
    background: white;
    right: 20px;
}

.callControlPane[callState="drop"] .contactCall {
    display: inline;
}

.callControlPane[callState="call-out"] .contactStopCall 
{
    display: inline;
}

.callControlPane[callState="call-in"] .contactAnswerCall, 
.callControlPane[callState="call-in"] .contactRejectCall {
    display: inline;
}

.callControlPane[callState="offline"] .contactCall {
    display: inline;
    background: #A8A8A8;
    pointer-events: none;
    cursor: default;
}

.contactCall, .contactVideoCall, .contactAnswerCall {
    border-radius: 5px;
    background: #66CC66;
    border: 1px solid transparent;
    color: white;
    text-align: center;
    font: 15px Arial, sans-serif;
    display: none;
    cursor: pointer;
    padding-top: 1px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

.contactStopCall, .contactRejectCall {
    border-radius: 5px;
    background: #FF6666;
    border: 1px solid transparent;
    color: white;
    text-align: center;
    font: 15px Arial, sans-serif;
    display: none;
    cursor: pointer;
    padding-top: 1px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
}
