.numberCircle {
    position: absolute;
    top: -8px;
    right: -8px;

    border-radius: 50%;

    width: 16px;
    height: 16px;
    padding: 1px;
    
    background: red;
    border: 1px solid white;
    color: white;
    text-align: center;
    
    font: 11px Arial, sans-serif;
}