.chatPane .log {
    color: gray;
    font-size: 90%;
    margin: 5px;
    text-align: center;
}

.chatPane .message.typing .messageBody {
    color: gray;
}

.chatPane .message .username {
    font-weight: 700;
    color: black;
}

.chatPane .message .messageBody {
    padding-left: 7px;
    color: #333333;
}

.chatPane .messages {
    height: 60%;
    width: 100%;
    margin: 0;
    overflow-y: scroll;
    padding: 10px 10px 0px 10px;
    font-size: 110%;
}

.chatPane .inputMessage {
    height: 40%;
    width: 100%;
    margin: 0;
    border: 1px solid #dedede;
    outline: none;
    padding-top: 10px;
    padding-left: 10px;

    font-size: 110%;
    resize: none;
}
