.tabUnread {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background: red;
    border: 1px solid white;
    color: white;
    text-align: center;
    font: 11px Arial, sans-serif;
    display: inline-block;
}
