.contactOnline {
    border-radius: 50%;
    width: 14px;
    height: 14px;
    padding: 1px;
    background: transparent;
    border: 1px solid #66CD00;
    color: white;
    text-align: center;
    font: 11px Arial, sans-serif;
    margin-top: 3px;
    margin-right: 12px;
    display: inline-block;
    float: left;
}

.contactOnline[online="true"] {
    background: #66CD00;
}

.contactUnread {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    padding: 1px;
    background: red;
    border: 1px solid white;
    color: white;
    text-align: center;
    font: 11px Arial, sans-serif;
    margin-top: 3px;
    display: inline-block;
    float: right;
}
