.contact_list {
    list-style: none;
    word-wrap: break-word;
    padding: 0;
    margin: 0;
}

.contact_list > li {
    padding-top: 6px;
    padding-right: 20px;
    padding-bottom: 6px;
    padding-left: 15px;
    border-bottom: 1px solid #dedede;
}

.contact_list > li span {
    width: 100%;
    cursor:pointer;
    display: block;
}
