#map {
    height: 100%;
    margin: 0px;
    padding: 0px
}

#main__region {
    padding: 0;
    height: 100%;
    width: 100%;
}

.labels {
    color: #101010;
    background-color: white;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    width: auto;     
    border: 1px solid #101010;
    white-space: nowrap;
    opacity: 0.1;
    padding-left: 2px;
    padding-right: 2px;
}

.controls {
    margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    padding: 1px 11px 0 13px;
    width: 240px;
    text-overflow: ellipsis;
}

#pac-input:focus {
    border-color: #4d90fe;
    margin-left: -1px;
    padding-left: 14px;  /* Regular padding-left + 1. */
}

.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#legend {
    display: none;
    position:absolute; 
    bottom: 0;
    width:100%;
    left:0;
    text-align:center;
}

#legend > img {
    bottom: 0px; 
    width:400px;
    height:30px;
    z-index: 0;
}

#coords {
    display: block;
    position:absolute; 
    padding: 5px;
    z-index: 2000;
    opacity: 0.90;
    bottom: 0;
    right: 0;
    text-align:right;
    background-color: rgba(30, 30, 30, 0.6);
}

#coords > div {
    bottom: 0px; 
    z-index: 0;
    padding: 0px;
}

#coords > div > span {
    color: whitesmoke;
}

.gm-style-iw {
    min-width: 95px;
}

.gm-style-iw #{
    height: 100% !important;
    width: 100% !important;
    overflow: hidden !important;
}