html, body {
    margin: 0;
    height: 100%;
    width:100%;
    overflow: hidden;
}

body {
    background: url(/img/back.png);
    background-color: #444;
    background: url(/img/pinlayer2.png), url(/img/pinlayer1.png), url(/img/back.png);
}

.dialog-offset {
    margin-top: 10%;
}

.captcha {
    width: 100%;
    background: black;
    text-align: center;
}

.captcha img {
    /*float: left;*/
}

.captcha_refresh {
    height: 34px;
    width: 42px;
    background: url(/css/images/refresh.png) no-repeat center;
}