#messenger__region {
    position:fixed; 
    top: 51px;
    left: 0;
    z-index: 1000;
    overflow: hidden;
    background-color: white;
    border-right: 1px solid #eee;
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left: 1px;
    padding-right: 0px;
}

@media (max-width: 768px) {
    #messenger__region {
        height: calc(60% - 51px);
        bottom: 0px;
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    #messenger__region {
        height: calc(100% - 51px);
        bottom: 0px;
        width: 300px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    #messenger__region {
        height: calc(100% - 51px);
        width: 300px;
    }
}

@media (min-width: 1200px) {
    #messenger__region {
        height: calc(100% - 51px);
        width: 300px;
    }
}

.nav-tabs > li .close {
    margin: -2px 0 0 10px;
    font-size: 18px;
}

.nav-tabs > li > a, .nav-tabs > li.active > a {
    padding-left: 9px;
    padding-right: 7px;
}

.nav-tabs > li > a > span {
    max-width: 40px;
    min-width: 35px;
    height: 20px;
    display: block;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.nav-tabs > li.active > a > span {
    max-width: 100px;
    min-width: 35px;
    height: 20px;
    display: block;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.nav-tabs > li > a > span.offline, 
.nav-tabs > li.active > a > span.offline {
    color: #cd2626;
}

.marginBottom {
    margin-bottom :1px !important;
}

.tab-content {
    height: calc(100% - 42px);
    width: 100%;
}


.tab-content .tab-pane {
    width: 100%;
    height: 100%;
    overflow-x: none;
    overflow-y: none;
}

.chatPane {
    height: 100%;
    width: 100%;
}

.contactsPane {
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

/*

#messenger__region {
    position:fixed; 
    bottom: 0;
    left:0;
    z-index: 1000;
    overflow: hidden;
    background-color: white;
    border-right: 1px solid #eee;
    padding-top: 1px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

@media (max-width: 768px) {
    #messenger__region {
        height: calc(60% - 51px);
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    #messenger__region {
        height: calc(60% - 51px);
        width: 50%;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    #messenger__region {
        height: calc(60% - 51px);
        width: 35%;
    }
}

@media (min-width: 1200px) {
    #messenger__region {
        height: calc(60% - 51px);
        width: 25%;
    }
}

.nav-tabs > li .close {
    margin: -2px 0 0 10px;
    font-size: 18px;
}

.nav-tabs > li > a, .nav-tabs > li.active > a {
    padding-left: 9px;
    padding-right: 7px;
}

.nav-tabs > li > a > span {
    max-width: 40px;
    min-width: 35px;
    height: 20px;
    display: block;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.nav-tabs > li.active > a > span {
    max-width: 100px;
    min-width: 35px;
    height: 20px;
    display: block;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.nav-tabs > li > a > span.offline, 
.nav-tabs > li.active > a > span.offline {
    color: #cd2626;
}

.marginBottom {
    margin-bottom :1px !important;
}

.tab-content {
    height: calc(100% - 42px);
    width: 100%;
}


.tab-content .tab-pane {
    width: 100%;
    height: 100%;
    overflow-x: none;
    overflow-y: none;
}
*/

