.incommingCallConstrols {
    width: 100%;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 30px;
    display: block;
}

.incommingCallAnswer {
    border-radius: 5px;
    background: #66CC66;
    border: 1px solid transparent;
    color: white;
    text-align: center;
    font: 17px Arial, sans-serif;
    display: inline-block;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 3px;
    width: calc(50% - 5px);
}

.incommingCallReject {
    border-radius: 5px;
    background: #FF6666;
    border: 1px solid transparent;
    color: white;
    text-align: center;
    font: 17px Arial, sans-serif;
    display: inline-block;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 3px;
    width: calc(50% - 5px);
}
