.object-info .object-video {
    position: absolute; 
    top: 0; 
    left: 0; 
    padding: 0; 
    cursor: normal;
    color: gray;
    pointer-events: none;
}

.object-info .object-video[hasVideo] {
    cursor: pointer;
    color: #66CD00;
    pointer-events: auto;
}

.object-info .object-photo {
    position: absolute; 
    top: 25px; 
    left: 0; 
    padding: 0; 
    cursor: pointer;
    color: gray;
}

.object-info .video-preview {
    margin-top: 7px; 
    margin-bottom: 3px;
    cursor: pointer;
}

.object-data-fields {
    overflow:hidden;
    white-space:nowrap;
    -ms-text-overflow:ellipsis;
    text-overflow:ellipsis;
    max-width: 100px;
}
