.photo-image {
    width: 190px;
    height: 142px;
    position: relative;
    cursor: pointer;
    border: 1px solid lightgrey;
}

.photo-image:hover {
    border: 1px solid white;
}

.photo-image img {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.photo-info {
    position: absolute;
    bottom: 0px;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 2px;
    font-size: small;
}

.photo-selector {
    position: absolute;
    z-index: 999;
    top: -10px;
    right: -13px;
    width: 27px;
    height: 27px;
    background: url(/img/checkbox.png);
    opacity: 0;
}

.photo-image:hover .photo-selector {
    background-position: 0 0px;
    opacity: 1;
}

.photo-image .photo-selector:hover {
    background-position: 0 -27px;
    opacity: 1;
}

.photo-image:hover .photo-selector[selected] {
    background-position: 0 -54px;
    opacity: 1;
}

.photo-selector[selected] {
    background-position: 0 -54px;
    opacity: 1;
}

.photo-image:hover .photo-selector[selected]:hover {
    background-position: 0 -81px;
    opacity: 1;
}

.photo-desc {
	position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 3px 7px 5px 7px;
}

.photo-desc span {
}
