.photoPane {
	height: 100%;
	position: relative;
    background-color: black;
}

.photos {
	margin: 0; 
    padding: 20px 10px 10px 10px;
    list-style-type: none; 
    list-style-image: none;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100% - 51px);
}

.photos li {
    float: left;
    margin: 0px 5px 10px 5px;
}

.map {
	background-color: #eee;
	height: 100%;
}

.vcenter {white-space:nowrap;}
.vcenter > * {white-space:normal;}

.vcenter:before,
.vcenter >* {display:inline-block; vertical-align:middle;}

.vcenter:before {content:"";  height:100%;}

.vcenter {word-spacing:-.25em;}
.vcenter > * {word-spacing:normal;}

.search-wrapper {
	height: 55px;
    background-color: white;
    border: 1px solid #e7e7e7;
    border-width: 0 0 1px;
    padding-left: 0;
    padding-right: 5px;
}

.search-wrapper > * {
	margin-left: 5px;
}

.file-wrapper {
    height: 55px;
    background-color: white;
    border: 1px solid #e7e7e7;
    border-width: 0 0 1px;
	text-align: right;
	padding-left: 0 !important;
}

div.file-wrapper button {
    margin-right: 3px;
}

div.file-wrapper input {
    display: none;
    opacity: 0; 
}

div.file-wrapper a {
    text-decoration: none; 
    position: relative; 
}

.view-wrapper {
	margin: 0;
	padding: 0 !important;
	height: calc(100% - 55px);
	width: 100%;
}

#view-list {
	width: 100%;
	height: 100%;
	float: left;
}

#view-list.compact {
	width: 50%;
}

#view-map {
	width: 50%;
	height: 100%;
	float: right;
}

.clear-both {
    clear: both;
}

#files-select-all {
	font-size: 25px;
    font-weight: 400;
    color: black;
    line-height: 26px;
    cursor: pointer;
    padding: 3px 10px 3px 10px;
}