.photoSearchControl {
    display: inline;
}

.photoSearchControl > * {
    margin-left: 10px;
}

.photoSearchControl .regionDropDown,
.photoSearchControl .dateDropDown {
    padding:  10px;
    border-radius: 4px;
}

.photoSearchControl .regionDropDown {
    min-width: 250px;
}

.photoSearchControl .regionDropDown input,
.photoSearchControl .dateDropDown input {
    margin-bottom: 5px;
}

.dateDropDown {
	padding: 4px;
}

.dropDownButtons {
	margin-top: 10px;
	font-size: 0; 
}

.dropdown-menu {
	z-index: 1500;
}
