#image-map {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

#photoViewer {
    margin-top: 30px;
    width: calc(100% - 60px);
    height: calc(100% - 60px);
}

#photoViewer .modal-content {
    height: 100%;
}

#photoViewer .modal-content .modal-header {
    height: 55px;
}

#photoViewer .modal-content .modal-body {
    height: calc(100% - 55px);
    padding: 0;
}

#photoInfo {
    display: block;
    position:absolute; 
    padding: 5px;
    z-index: 2000;
    opacity: 0.90;
    bottom: 0;
    left:0;
    text-align:left;
    background-color: rgba(30, 30, 30, 0.6);
}

#photoCoords {
    display: block;
    position:absolute; 
    padding: 5px;
    z-index: 2000;
    opacity: 0.90;
    bottom: 0;
    right: 0;
    text-align:right;
    background-color: rgba(30, 30, 30, 0.6);
}

#photoCoords > div, #photoInfo > div {
    bottom: 0px; 
    z-index: 0;
    padding: 0px;
}

#photoCoords > div > span, #photoInfo > div > span {
    color: whitesmoke;
}