.tilesPane {
	height: 100%;
}

.map-pane {
	height: 100%;
}

.results-wrapper {
	border-top: 1px solid #3276b1;
	padding: 0 0 0 0;
	margin-top: 10px;
}

.tiles {
	margin: 0; 
    padding: 0;
    list-style-type: none; 
    list-style-image: none;
}

.tiles > :first-child {
    border-top: 1px solid white !important;
}

.tiles li {
    float: left;
    width: 100%;
    padding: 10px 6px 15px 10px;
}

#tiles__region {
    padding: 0;
    width: 100%;
    height: 100%;
}

div.tile-upload-wrapper {
	display: block;
	overflow: hidden;
	position: relative;
	height: 40px;
}


.tile-contents-wrapper {
	padding: 0px; 
	height: calc(100% - 40px);
}

div.tile-upload-wrapper input {
	opacity: 0; 
	position: relative; height: 20px;
}

div.tile-upload-wrapper a {
	text-decoration: none; 
	position: relative; 
	top: -20px;
}

div.tile-upload-wrapper span {
	position: absolute;
	top: 0px;
	font-size: 15px;
	margin-left: 20px;
	left: 120px;
}
