#tooltip__region {
    position: absolute;
    width: 450px;
    border: 1px solid #dedede;
    padding: 1px;
    z-index: 1100;
    background-color: white;
}

#tooltip__region:before {
    content: ' ';
    display: block;
    position: absolute;
    left: -8px;
    top: 65px;
    width: 14px;
    height: 14px;
    z-index: 1100;
    border-color: #dedede;
    border-width: 1px;
    border-style: none none solid solid;
    background-color: white;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}