.vbs-info .object-photo {
    position: absolute; 
    top: 0; 
    left: 0; 
    padding: 0; 
    cursor: pointer;
    color: gray;
}

.vbs-info .object-photo[hasPhoto] {
    cursor: pointer;
    color: #66CD00;
    pointer-events: auto;
}

.vbs-info .photo-container {
    margin-top: 7px;  
    margin-bottom: 5px;

    width: 250px;
    height: 150px;
    display: table;
}

.vbs-info .photo-element {
    width: 250px;
    height: 150px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.vbs-info .photo-preview {
    cursor: pointer;
    max-width:100%;
    max-height:100%;
}

.vbs-info .photo-fulscreen {
    position: absolute;
    right: 5px;
    top: 285px;
    color: #66CD00;
    background-color: white;
    padding: 10px;
    cursor: pointer;
}

.vbs-data-fields {
    overflow:hidden;
    white-space:nowrap;
    -ms-text-overflow:ellipsis;
    text-overflow:ellipsis;
    max-width: 240px;
}