.video-container {
    display: inline-block; 
    position: relative; 
    z-index : 1;
    
    max-width: 100%;
    max-height: 100%;
}

.video-image {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.video-image[orientation="2"] {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.video-image[orientation="3"] {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.video-image[orientation="4"] {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

.video-rotate {
    position: absolute !important;

    z-index: 1; 
    top: 15px; 
    right: 30px;

    color: white;
    width: 20px; 
    height: 20px;
}
