#video__region {
    position:fixed; 
    left:0;
    z-index: 1000;
    overflow: hidden;
    background-color: white;
    border-right: 1px solid #eee;
    padding-top: 0px;
    padding-bottom: 1px;
    padding-left: 0px;
    padding-right: 0px;
}

#video__region:not(.incall) {
    display: none !important;
}

@media (max-width: 768px) {
    #video__region {
        height: 40%;
        width: 100%;

        bottom: calc(60% - 51px);
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    #video__region {
        height: 40%;
        width: 50%;

        bottom: calc(60% - 51px);
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    #video__region {
        height: 40%;
        width: 35%;

        bottom: calc(60% - 51px);
    }
}

@media (min-width: 1200px) {
    #video__region {
        height: 40%;
        width: 25%;

        bottom: calc(60% - 51px);
    }
}

.videoPane {
    height: 100%;
    width: 100%;
}

.remoteVideo { 
    width: 100%; 
    height: 100%; 
    background: #000; 
}

.localVideo { 
    position: absolute; 
    width: 96px;
    height: 72px;
    right: 5px; 
    top: 5px; 
    border: 1px solid #777777; 
    background: #000;
}

.videoPane[callState="incall"] .stopCall
{
    display: inline;
}

.stopCall {
    position: absolute; 
    top: 5px;
    left: 5px;
    border-radius: 5px;
    background: #FF6666;
    border: 1px solid transparent;
    color: white;
    text-align: center;
    font: 15px Arial, sans-serif;
    display: none;
    cursor: pointer;
    padding-top: 1px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
}
