<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Редактирование сервера</h4>
    </div>

    <form class="form form-horizontal" id="robotIdBoundariesEdit" accept-charset="UTF-8" autocomplete="off">
        <fieldset>
            <div class="modal-body">
                <div class="form-group">
                    <label for="serverName" class="col-sm-3 control-label">Имя</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="serverName" value="<%= name %>" placeholder="Введите описание">
                    </div>
                </div>
                <div class="form-group">
                    <label for="serverUrl" class="col-sm-3 control-label">Адрес</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="serverUrl" value="<%= url %>" placeholder="Введите url">
                    </div>
                </div>
            </div>
        </fieldset>
    </form>

    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Отмена</a>
        <button type="button" class="btn btn-primary" id="btnSubmit">Сохранить</button>
    </div>

</div>
