<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="modalLabel">Звонит</h4>
    </div>
    <div class="modal-body">
        <div class="incommingCallConstrols">
            <div class="incommingCallAnswer">Ответить</div>
            <div class="incommingCallReject">Отклонить</div>
        </div>
    </div>
</div>
