<div class="container-fluid" style="padding-left: 30px; padding-right: 0px; ; min-width: 130px">
    <div class="row-fluid">
        <div class="object-data-fields unselectable"></div>
    </div>
    <div class="row-fluid">
        <img class="video-preview" width="150px" style="display:none">
    </div>
</div>
<span title='Видео' class="glyphicon glyphicon-facetime-video btn-lg object-video"></span>

<!-- <span title='Фото' class="glyphicon glyphicon-camera btn-lg object-photo"></span> -->
