<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="modalLabel">Загрузка sit-файла</h4>
    </div>

    <form class="form form-horizontal" accept-charset="UTF-8" autocomplete="off">
        <fieldset>
            <div class="modal-body">

                <div class="form-group">
                    <label for="labelPhotos" class="col-sm-3 control-label">Фотографии</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="labelPhotos" placeholder="Введите id фотографий">
                    </div>
				</div>
				
                <div class="form-group">
                    <label for="btnSelect" class="col-sm-3 control-label">Файл</label>
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-default" id="btnSelect">Выбрать</button>
                        <input type="file" id="fileUpload" name="files[]" accept=".zip" style="display: none">
                    </div>
                </div>

                <div class="form-group">
                    <label for="labelInfo" class="col-sm-3 control-label">Статус</label>
                    <div class="col-sm-8">
                        <label id="labelInfo" class="control-label">Выберите файл</label>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>

    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Закрыть</a>
    </div>

</div>
