<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- using ejs commands -->
    <% include admin_user_modals.html %> 
    <% include admin_group_modals.html %>

    <title><%= title %></title>
</head>

<script type="text/javascript">
    var user = <%-JSON.stringify(user)%>;
</script>

<body style="display: none;">

	<div class="container-fluid" style="padding-left: 0px; padding-right: 0px; height: 100%; overflow-y: hidden;">

		<nav class="navbar navbar-default navbar-fixed-top">
		  	<div class="container">
		    	<div class="navbar-header">
		      		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		        		<span class="icon-bar"></span>
		        		<span class="icon-bar"></span>
		        		<span class="icon-bar"></span>                        
		      		</button>
		      		<a class="navbar-brand" href="#">Фотосервер</a>
		    	</div>
		    	<div class="collapse navbar-collapse" id="myNavbar">
			      	<ul class="nav navbar-nav">
			        	<li class="active"><a href="#">Администрирование</a></li>
			      	</ul>

			      	<ul class="nav navbar-nav pull-right">
		              	<li class="dropdown">
			          		<a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> <%= user.name %>  <span class="caret"></span></a>
			      			<ul class="dropdown-menu">
			        			<li><a href="/"><span class="glyphicon glyphicon-globe"></span> Фотографии</a></li>
			        			<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Выйти</a></li>
			      			</ul>
						</li>
					</ul>
		    	</div>
		  	</div>
		</nav>

      	<div class="container-fluid" style="padding-left: 0px; padding-right: 0px;">
        	<div class="row-fluid">
		        <div class="col-sm-3 col-md-2 sidebar">
		            <ul class="nav nav-sidebar">
		             	<li class="active"><a href="#tab_groups" data-toggle="tab">Группы</a></li>
		              	<li><a href="#tab_users" data-toggle="tab">Пользователи</a></li>
		              	<li><a href="#tab_sync" data-toggle="tab">Синхронизация</a></li>
		            </ul>
		        </div>

          		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main tab-content">
            
	            	<div class="tab-pane active" id="tab_groups">
	              		<h4>Группы</h4>
	              		<a href="#" id="btnAddGroup" style="text-decoration: none">Добавить</a>
		              	<div class="table-responsive" id="groupList">
			                <table class="table table-striped">
			                  	<thead>
			                    	<tr>
			                      		<th>Id</th>
			                      		<th>Название</th>
			                      		<th>Операции</th>
			                    	</tr>
			                  	</thead>
			                  	<tbody>
			                  	</tbody>
			                </table>
		              	</div>
		            </div>

	            	<div class="tab-pane" id="tab_users">
	              		<h4>Пользователи</h4>
		              	<a href="#" id="btnAddUser" style="text-decoration: none">Добавить</a>
			            <div class="table-responsive" id="userList">
		                	<table class="table table-striped">
		                  		<thead>
		                    		<tr>
		                      			<th>Id</th>
		                      			<th>Имя</th>
		                      			<th>Админ</th>
		                      			<th>Онлайн</th>

		                      			<th>Операции</th>
		                    		</tr>
		                  		</thead>
		                  		<tbody>
		                  		</tbody>
		            	   	</table>
			            </div>
	            	</div>

	            	<div class="tab-pane" id="tab_sync">
		            	<h4>Автоматическая синхронизация</h4>
		            	<div id="sync__region" style="padding: 0px;"></div>
		            </div>
            
        		</div>
      		</div>
      	</div>

      	<div class="container-fluid" style="padding-left: 0px; padding-right: 0px;">
        	<div class="row-fluid">
            	<div class="modal" id="modal__region" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true"></div>
			</div>
    	</div>

    </div>

    <script src="/js/bower_components/requirejs/require.js" data-main="/js/admin"></script>

  </body>
</html>