<div class="modal" id="modalUserEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Редактирование пользователя</h4>
            </div>

            <form class="form form-horizontal" accept-charset="UTF-8" autocomplete="off">
                <fieldset>
                    <div class="modal-body">

                        <div class="form-group userPropertiesGroup">
                            <label for="userName" class="col-sm-3 control-label">Имя</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="userName" placeholder="Введите имя">
                            </div>
                        </div>

                        <div class="form-group userPropertiesGroup">
                            <label for="userGroups" class="col-sm-3 control-label">Участник групп</label>
                            <div class="col-sm-9">
                                <select class="form-control multiselect hidden" id="userGroups" multiple="multiple"></select>
                            </div>
                        </div>

                        <div class="form-group userPropertiesGroup">
                            <label for="userGroupsAdmin" class="col-sm-3 control-label">Администратор</label>
                            <div class="col-sm-9">
                                <select class="form-control multiselect hidden" id="userGroupsAdmin" multiple="multiple"></select>
                            </div>
                        </div>

                        <!--
                        <div class="form-group userPropertiesGroup">
                            <label for="userNpuList" class="col-sm-3 control-label">Район, точка 1</label>
                            
                            <div class="col-sm-9">
                                <div class="col-xs-4" style="padding-left: 0px; padding-right: 0px;">
                                    <input type="text" placeholder="Широта" id="userRectP1Lat" class="form-control">
                                </div>
                                <div class="col-xs-2" style="padding-left: 0px; padding-right: 3px;">

                                    <select class="form-control" style="padding-right: 4px;" id="userRectP1LatSign">
                                        <option selected="selected" value="1">С</option>
                                        <option value="-1">Ю</option>
                                    </select>
                                </div>
                                <div class="col-xs-4" style="padding-left: 3px; padding-right: 0px;">
                                    <input type="text" placeholder="Долгота" id="userRectP1Lon" class="form-control">
                                </div>
                                <div class="col-xs-2" style="padding-left: 0px; padding-right: 0px;">
                                    <select class="form-control" style="padding-right: 4px;" id="userRectP1LonSign">
                                        <option selected="selected" value="1">В</option>
                                        <option value="-1">З</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group userPropertiesGroup">
                            <label for="userNpuList" class="col-sm-3 control-label">Район, точка 2</label>
                
                            <div class="col-sm-9">
                                <div class="col-xs-4" style="padding-left: 0px; padding-right: 0px;">
                                    <input type="text" placeholder="Широта" id="userRectP2Lat" class="form-control">
                                </div>
                                <div class="col-xs-2" style="padding-left: 0px; padding-right: 3px;">
                                    <select class="form-control" style="padding-right: 4px;" id="userRectP2LatSign">
                                        <option selected="selected" value="1">С</option>
                                        <option value="-1">Ю</option>
                                    </select>
                                </div>
                                <div class="col-xs-4" style="padding-left: 3px; padding-right: 0px;">
                                    <input type="text" placeholder="Долгота" id="userRectP2Lon" class="form-control">
                                </div>
                                <div class="col-xs-2" style="padding-left: 0px; padding-right: 0px;">
                                    <select class="form-control" style="padding-right: 4px;" id="userRectP2LonSign">
                                        <option selected="selected" value="1">В</option>
                                        <option value="-1">З</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group userPropertiesGroup">
                            <label for="userNpuList" class="col-sm-3 control-label">Список НПУ</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="userNpuList" value="" 
                                    placeholder="Введите список идентификаторов НПУ">
                            </div>
                        </div>
                        -->

                        <div class="form-group userPasswordGroup">
                            <label for="userPassword1" class="col-sm-3 control-label">Пароль</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="userPassword1" placeholder="Введите пароль">
                            </div>
                        </div>

                        <div class="form-group userPasswordGroup">
                            <label for="userPassword2" class="col-sm-3 control-label">Повтор пароля</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="userPassword2" placeholder="Повторите пароль">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>

            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Отмена</a>
                <button type="button" class="btn btn-primary" id="btnSubmit"></button>
            </div>

        </div>
    </div>
</div>