<div class="modal" id="modalGroupEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Редактирование группы</h4>
            </div>

            <form class="form form-horizontal" accept-charset="UTF-8" autocomplete="off">
                <fieldset>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="groupName" class="col-sm-3 control-label">Название</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="groupName" placeholder="Введите название">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="groupUsers" class="col-sm-3 control-label">Участники</label>
                            <div class="col-sm-9">
                                <select class="form-control multiselect hidden" id="groupUsers" multiple="multiple"></select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="groupAdmins" class="col-sm-3 control-label">Администраторы</label>
                            <div class="col-sm-9">
                                <select class="form-control multiselect hidden" id="groupAdmins" multiple="multiple"></select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="regP1Lat" class="col-sm-3 control-label" style="margin-top: -3px; padding-top: 8px;">
                                Район, ШД 1, °
                            </label>

                            <div class="col-sm-9">
                                <div class="col-sm-6" style="padding-left: 0px; padding-right: 5px;">
                                    <input type="text" placeholder="Широта, °" id="regP1Lat" class="form-control">
                                </div>
                                <div class="col-sm-6" style="padding-left: 5px; padding-right: 0px;">
                                    <input type="text" placeholder="Долгота, °" id="regP1Lon" class="form-control">
                                </div>
                            </div>
                          </div>

                        <div class="form-group">
                            <label for="regP2Lat" class="col-sm-3 control-label" style="margin-top: -3px; padding-top: 8px;">
                                Район, ШД 2, °
                            </label>
                            
                            <div class="col-sm-9">
                                <div class="col-sm-6" style="padding-left: 0px; padding-right: 5px;">
                                    <input type="text" placeholder="Широта, °" id="regP2Lat" class="form-control">
                                </div>
                                <div class="col-sm-6" style="padding-left: 5px; padding-right: 0px;">
                                    <input type="text" placeholder="Долгота, °" id="regP2Lon" class="form-control">
                                </div>
                            </div>
                        </div>

                    </div>
                </fieldset>
            </form>

            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Отмена</a>
                <button type="button" class="btn btn-primary" id="btnSubmit"></button>
            </div>

        </div>
    </div>
</div>