<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

	<link href="/js/stylesheets/login.css" rel="stylesheet">
    <link href="/js/stylesheets/bootstrap-common.css" rel="stylesheet">
    <link href='/js/bower_components/bootstrap/dist/css/bootstrap.min.css' rel="stylesheet">
    
    <title><%= title %></title>
</head>

<script type="text/javascript">
	var successRedirect = '<%-successRedirect%>';
</script>

<body>
    <div class="container" id="loginDialog">
        <div class="row dialog-offset">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><%= product %>. Вход в систему <small><%= app_version %></small></h3>
                    </div>
                    <div class="panel-body">
                        <form accept-charset="UTF-8" role="form" autocomplete="off">
                            
                            <% if (this.error) { %>
                                <div class="alert alert-danger"><%= error %></div>
                            <% } %>

                            <% if (!this.error) { %>
                                <div class="alert alert-danger" style="display:none"></div>
                            <% } %>
                            
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Имя пользователя" id="loginName" type="text"
                                    value="" autocapitalize="off" autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Пароль" id="loginPassword" type="password"
                                    value="" autocomplete="off">
                                </div>
                                
                                <button type="button" class="btn btn-lg btn-success btn-block" id="btnLogin">Войти</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/bower_components/jquery/jquery.min.js"></script>
    <script src="/js/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/js/vendors/tweenlite.min.js"></script>
    <script src="/js/login.js"></script>

</body>

</html>