<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

	<% if(is_offline) { %>
   		<script src="/js/vendors/gm/main.js?v=3.exp&libraries=places,drawing&language=ru"></script>
 	<% } else{ %>  
   		<script src="https://maps.googleapis.com/maps/api/js?v=3&libraries=places&language=ru&key=AIzaSyAbAap4nj7PpdvcZnrOdLG6EDZco3VGc1A"></script>
   		<script src="https://www.google.com/jsapi"></script>
	<% } %>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/vendors/proj4js-compressed.js"></script>
	<script src="/js/vendors/epsg.js"></script>

    <title><%= title %></title>
</head>

<script type="text/javascript">
    var servertime = <%-servertime%>;
    var is_offline = <%-is_offline%>;
    var tms_url = "<%-tms_url%>";
</script>


<body style="background-color: black;">
    <div class="container-fluid" style="padding-left: 0px; padding-right: 0px; height: 100%; overflow-y: hidden;">

    	<div id="navbar__region"> <!-- container inside -->
    	</div>

    	<div class="container-fluid" style="padding-left: 0px; padding-right: 0px;">
        	<div class="row-fluid" style="height: 100%;">
          		<div class="main tab-content" style="height: 100%; padding: 0;">
	            	<div class="tab-pane active" id="tab_photo">
	            		<div id="photo__region" style="height: 100%;">
	              		</div>
	            	</div>
		            <!-- <div class="tab-pane" id="tab_tiles">
		            	<div id="tiles__region" style="height: 100%;">
		              	</div>
		            </div> -->
		            <div class="tab-pane" id="tab_sits">
		            	<div id="sits__region" style="height: 100%;">
		              	</div>
		            </div>
	            </div>
          	</div>
        </div>

      	<div class="container-fluid" style="padding-left: 0px; padding-right: 0px;">
        	<div class="row-fluid">
            	<div class="modal" id="modal__region" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true"></div>
			</div>
    	</div>
	
	</div>


    <!--
    <div class="container-fluid" style="height: 100%; padding: 0;">
        
        <div class="row-fluid" style="height: 100%;">
          <div class="main tab-content" style="height: 100%; padding: 0;">
            <div class="tab-pane active" id="tab_photo">
            	<div id="photo__region">
              	</div>
            </div>
            <div class="tab-pane" id="tab_tiles">
            	<div id="tiles__region">
              	</div>
            </div>
          </div>
        </div>

        <div class="modal" id="modal__region" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        </div>
	</div>
	-->

    <script src="js/bower_components/requirejs/require.js" data-main="js/main"></script>

</body>

</html>




